<style>
    .sidebar {
        background: url(/assets/img/sidebar.jpg) no-repeat;
        background-size: cover;
        background-image: rgba(0, 0, 0, 0.5);
    }   
</style> 

<div class="sidebar">
  <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
  -->
  <div class="logo">
    <a class="simple-text logo-normal">
      System ID
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="./dashboard">
          <i class="material-icons">dashboard</i>
          <p>Dashboard</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="./userProfile">
          <i class="material-icons">person</i>
          <p>User Profile</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="./insertRecord">
          <i class="material-icons">person_add</i>
          <p>Insert Record</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="./searchImg">
          <i class="material-icons">image_search</i>
          <p>Search Image</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" onclick="run_statistic();" id="box-run-statistic">
          <i class="material-icons">show_chart</i>
          <p>Run statistic</p>
        </a>
      </li>
    </ul>
  </div>
</div>